<html>
    <body>
        <h2>Add catagary</h2>
        <div class="main">
            <div class="sub">
                <label>add catagary:</label><br>
                <input type="text" placeholder="enter new catagory" size="100" class="pk" [(ngModel)]="cata.cat" name="cat"><br>
                <input type="text" placeholder="enter company" size="100" class=" sk" [(ngModel)]="cata.com" name="com"><br>
                <button (click)="submitcat()">submit</button>
            </div>
        </div>
    </body>
</html>

