<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>
    <div class="img1"></div>
    <h3>
        All products we have
    </h3>
    <div class="products">
        <div  class="l">
            <h6>Chokolate cake</h6>
            <div class="image"><img src="/assets/gtyh.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>Misoor pack sweet</h6>
            <div class="image"><img src="/assets/vgh.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>badoosha sweet</h6>
            <div class="image"><img src="/assets/poio.jpeg" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>sonu papad sweet</h6>
            <div class="image"><img src="/assets/rgt.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>chocolate peice</h6>
            <div class="image"><img src="/assets/asss.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>boondi kara sweet</h6>
            <div class="image"><img src="/assets/boondi.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>rasagolla sweet </h6>
            <div class="image"><img src="/assets/kpppp.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>jilebi sweet</h6>
            <div class="image"><img src="/assets/kphj.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        <div class="l">
            <h6>kalakani sweet</h6>
            <div class="image"><img src="/assets/fggf.jfif" width="150px" height="150px"></div>
            <p>200rs per 1kg</p>
            <button><span></span>BOOK NOW</button>
        </div>
        
    </div>
    <div class="under"></div>
    

</body>
</html>