<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
        <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>
    <div class="img1">
        <div class="content">
        <h2>contact us</h2>
        
        <pre>Have a question or need assistance?
 We are here to help you with anything you need!
        </pre>
        </div>
    </div>
    <div class="pk">
        <div class="l">
            <i class="fa fa-map-marker" aria-hidden="true"></i>

            <h6>OUR MAIN OFFICE</h6>
            <span>sattenapalli guntur </span>
        </div>
        <div class="l">
            <i class="fa fa-fax" aria-hidden="true"></i>

            <h6>FAX</h6>
            <span>100-9090-9878-0909 </span>
 
        </div>
        <div class="l">
            <i class="fa fa-phone" aria-hidden="true"></i>

            <h6>PHONE NUMBER</h6>
            <span>+91771657834</span>

        </div>
        <div class="l">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>

            <h6>EMAIL</h6>
            <span>kanjarla@gmial.com </span>

        </div>
    </div>
</body>