<html>
    <body>
        <div class="big">
        <div class="dash" style="background-color: rgb(212, 174, 201);">
            <p>Total customers</p></div>
        <div class="dash" style="background-color: rgb(129, 136, 129);">
            <p>Total products</p></div>
        <div class="dash" style="background-color: rgb(206, 152, 34);"><p>Total Bookings</p></div>
        <div class="dash" style="background-color: rgb(33, 230, 252);"><p>delivered products</p></div>
    </div>
    </body>
</html>