<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
<body>
    <div class="content">
       <div class="con">
        <h2>ABOUT US</h2>
        <h4>DELEVERY CONTENT</h4>
        <pre>
        It is highly recognized as a sweet shop selling name that
        has become immensely popular among people who come here to shop eat
        and explore the age old tradition be it foreigners or indians
        </pre>
       </div>
       <div class="im"><img src="/assets/vgh.jfif"></div>
    </div>
</body>