<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="skg">
   <h3>SWEET MANAGING PROJECT</h3>
    <ul>
       <li>
       
        

        <a routerLink="/navigate">Home</a>
       </li>
       <li><a routerLink="/navigate/about">about</a></li>
      <li><a routerLink="/navigate/contact">contact us</a></li>
       <li><a routerLink="/navigate/Regi">sign up</a></li>
       <li><a routerLink="/navigate/login">login</a></li>
    </ul>
</div>

<div class="jk"><router-outlet></router-outlet></div>
</body>