<html>
    <body>
        <div><h2>all catagaries</h2></div>
        <table>
            <thead>
                <tr>
                    
                    <th>product name</th>
                    <th>catagary</th>
                    <th>company</th>
                    <th>price</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
             <tr *ngFor="let product of products" >
                <td>{{product['pname']}}</td>
                <td>{{product['pcatagary']}}</td>
                <td>{{product['pcompany']}}</td>
                <td>{{product['pprice']}}</td>
                <td><button (click)="delete1(product['pname'])">delete</button></td>
             </tr>
            </tbody>
        </table>
</body>
</html>